<footer id="footer" class="clearfix">

    <% if (theme.search.enable === true) { %>
        <div class="search">
            <form name="searchform" id="searchform" class="u-search-form">
                <input type="text" id="searchinput" class="u-search-input" placeholder="Looking for something?"/>
                <button type="submit" id="u-search-btn-submit" class="u-search-btn-submit">
                    <span class="icon icon-search"></span>
                </button>
            </form>
        </div>
    <% } %>

    <div class="social-wrapper">
        <% if (theme.social) { %>
            <% theme.social.forEach(function(value) {
            if (value.url && value.slug) { %>
                <a href="<%= value.url %>" class="social <%= value.slug %>"
                   target="_blank" rel="external">
                    <span class="icon icon-<%= value.slug %>"></span>
                </a>
            <% } }); %>
        <% } %>
    </div>
    
    <div class="theme-by">Theme <span class="codename">Memory</span>
    <%# "将两个类合并为一个，移除换行 %>
    &copy; <a href="<%= url_for('/') %>"><%= config.title %></a></div>

    <%# "以下为访问量计数 via. https://blog.csdn.net/mudooo/article/details/94559630" %>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">PV:<span id="busuanzi_value_site_pv"></span></span>
    <span class="post-meta-divider">|</span>
    <span id="busuanzi_container_site_uv">UV:<span id="busuanzi_value_site_uv"></span></span>


    </span><br></span>
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span> <script language="javascript"> 
    var now = new Date();
    function createtime(){
        var grt= new Date("06/22/2021 22:02:52");/*---这里是网站的启用时间--*/
        now.setTime(now.getTime()+250);
        days = (now - grt ) / 1000 / 60 / 60 / 24;
        dnum = Math.floor(days);
        hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum);
        hnum = Math.floor(hours);
        if(String(hnum).length ==1 ){hnum = "0" + hnum;}
        minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum);
        mnum = Math.floor(minutes);
        if(String(mnum).length ==1 ){mnum = "0" + mnum;}
        seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
        snum = Math.round(seconds);
        if(String(snum).length ==1 ){snum = "0" + snum;}
        document.getElementById("timeDate").innerHTML = "The site has been running for "+dnum+"d ";
        document.getElementById("times").innerHTML = hnum + "h " + mnum + "m " + snum + "s ";
        }
    setInterval("createtime()",250); 
    </script> 

    

</footer>

